	
/* class applies to select element itself, not a wrapper element */


.select-css {
    font-size: 11px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #444;
    line-height: 1;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
        for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
        
    */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
    display: none;
}
/* Hover style */
.select-css:hover {
    border-color: #888;
}
/* Focus style */
.select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(182, 217, 253, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
			
/* Set options to normal weight */
.select-css option {
    font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
    border-color: #aaa;
}


body {
  margin: 2rem;
}
select:active, select:hover {
  outline: none
}

/* make it red instead (with with same width and style) */
select:active, select:hover {
  outline-color: red
}
.button {
    text-decoration: none !important;
}
/***************Button ***********************/
.button {
	 display: inline-block;
	 padding: 0.5rem 1.25rem;
	 border-radius: 10rem;
	 color: #fff;
	 text-transform: uppercase;
	 font-size: 1rem;
	 letter-spacing: 0.15rem;
	 transition: all 0.3s;
	 position: relative;
	 overflow: hidden;
	 z-index: 1;
}
 .button:after {
	 content: '';
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-color: #0cf;
	 border-radius: 10rem;
	 z-index: -2;
}
 .button:before {
	 content: '';
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 0%;
	 height: 100%;
	 background-color: #008fb3;
	 transition: all 0.3s;
	 border-radius: 10rem;
	 z-index: -1;
}
 .button:hover {
	 color: #fff;
}
 .button:hover:before {
	 width: 100%;
}


 span {
	 display: block;
	 margin-top: 2rem;
	 font-size: 0.7rem;
	 color: #777;
}
 span a {
	 font-size: 0.7rem;
	 color: #999;
	 text-decoration: underline;
}

body{

background: linear-gradient(to bottom,  #feffff 0%,#edf7fc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}


* {
  box-sizing: border-box;
}

.previewDivHeadingStyle{
margin: 0 auto;
    display: table;

}


.card {
  font-family: 'Open Sans', sans-serif;
  border-radius: 2px;
}
.card-1 {
  background-color:#ffffff
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-2 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-1:hover {
	
  box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 1px 1px rgba(0,0,0,0.22);
}
.card-2:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  background: #F8F8F8;
}


.heading{
	margin-top:.2em;
	font-family: 'Open Sans', sans-serif;
	color:white;
	font-size:1.5em;
	font-size :2.5em;
}
.main-head {
	height:3.5em;
	grid-area: header;
	display: grid;
	background:  #3A68AB;
	grid-template-columns: 1fr 15fr .7fr .7fr;
	   
	-webkit-box-shadow: 0px 8px 11px -8px rgba(58,104,171,1);
	-moz-box-shadow: 0px 8px 11px -8px rgba(58,104,171,1);
	box-shadow: 0px 8px 11px -8px rgba(58,104,171,1);
  
}

.item1 { grid-area: previewDiv; }
.item2 { grid-area: uploadDiv; }
.innerDiv{
	display: grid;
	grid-template-columns: 1fr 1fr;
	    grid-template-areas: 
    "previewDiv uploadDiv"
}



.content{
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  grid-template-areas: "dragandrophandler" "footer" ;
}
.footer { 
  color: black;
  grid-area: footer; 
}
.dragandrophandler { grid-area: dragandrophandler; }

.retrieve {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".";
  grid-area: retrieve;
}


@media all and (-ms-high-contrast:none) {
  .content{
    display: -ms-grid;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 0.1fr;
  }

  .dragandrophandler {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }


}

.preview { 
color:blue;
padding:10px;
border-top:thin solid;
border-color:rgb(211,211,211);
grid-area: preview; 
}



.wrapper {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-areas: 
    "header"
    "content";
}

@media (min-width: 500px) {
  .wrapper {

    grid-template-areas: 
    "header"
    "content";
 }
}

@media (min-width: 1000px) {
  .wrapper {
    grid-template-areas: 
      "header"
      "content"
   }
}


}


	
.my_rounded_corners{
    border: 1px solid #ccc;

    /* each value for each corner clockwise starting from top left */
    -webkit-border-radius: 0 0 20px 0;
            border-radius: 0 0 20px 0;
			
			
}


	.rounded {
  border-radius: 4px;
}

.border {
  box-shadow: rgba(9, 30, 66, 0.31) 0px 0px 1px 0px, rgba(9, 30, 66, 0.25) 0px 1px 1px 0px;
}
	
input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

	
.grid-search-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;  
  gap: 0em 1em;
  padding: 0em 0em 3em 0em ;	

  grid-template-areas:
  "div-header	div-header	div-header	div-header"
  "div-1	div-2	div-3	div-4";

}
.div-header-style{
  text-align: center;
  background: #101357;
  color: white;
  font-size: 20px;	
  padding: 0em 1em 0em 1em ;	
}

.div-header {
	
  padding: 0em 0em 2em 0em ;	


}

.div-1 { grid-area: div-1; }

.div-2 { grid-area: div-2; }

.div-3 { grid-area: div-3; }

.div-4 { grid-area: div-4; }
	
	.select-css {
    font-size: 11px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #444;
    line-height: 1;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.loader,
.loader:after {
  display:none;
  border-radius:50%;
  width: 7em;
  height: 7em;
}
.loader {
  margin: 0px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: .5em solid rgba(23,0,236, 0.2);
  border-right: .5em solid rgba(23,0,236, 0.2);
  border-bottom: .5em solid rgba(23,0,236, 0.2);
  border-left: .5em solid #1700ec;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
